img {
  width: 250px;
  margin-block: 30px;
}
.parent {
  min-height: 500px;
  background-color: #1abc9c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 40px;

  font-weight: bold;
  text-transform: uppercase;
}
.shape-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shape {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.shape .line {
  flex: 1;
  height: 4px;
  background-color: white;
}

.shape i {
  font-size: 24px;
}
